.main-footer {
  position: relative;
    bottom: auto;
    width: 100%;
    background-color: #dcdcdd; /* You can change the background color as needed */
    padding: 20px 0; /* Adjust padding as needed */
    text-align: center;
  }
.footer-contrack {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1; /* You can change the background color as needed */
    padding: 20px 0; /* Adjust padding as needed */
    text-align: left;
  }